<div class="p-4 p-md-5 mb-4 text-white rounded banner-team">
  <div class="col-md-6 px-0">
    <h1 class="display-4 fst-italic" style="font-weight: bold;">Découvrez notre équipe et nos bénévoles</h1>
    <div class="my-5">
      <%= link_to "Rejoignez l'aventure", new_contact_path, class: "btn-flat btn btn-lg"  %>
    </div>
  </div>
</div>

<div class="container">
  <div data-aos="zoom-in" class="card mb-3">
    <div class="row g-0">
      <div class="col">
        <div class="card-body">
          <h5 class="card-title">Farm Square</h5>
          <p class="card-text">L'équipe de farm square est composée de passionnés</p>
          <p class="card-text">L’association « FARM SQUARE »  développe des systèmes d’agriculture en milieu urbain.</p>
          <p class="card-text">Une agriculture d'innovation en réponse aux mutations économiques, environnementales et sociétales des territoires.</p>
          <p class="card-text">La finalité de l’Association est de garantir l’autonomie alimentaire des territoires par la production locale.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div id="accordion">
    <div class="card" data-aos="zoom-in">
      <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" >
        <h5>
          <button class="button-membre btn btn-link collapsed text-decoration-none">
            <%= cl_image_tag("https://res.cloudinary.com/def2ukbdr/image/upload/v1618794898/farm-square/richard_gyfhzu.jpg") %>
            <span>Richard Laudet, 43 ans (Fondateur)</span><br>
            <i class="fas fa-caret-down"></i>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse_card collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <p>
            C’est fort de mes 21 années d’expériences dans les domaines du commerce, du social, de l’agriculture biologique et de l'entreprenariat, qu’il m’a semblé bon de pouvoir mettre toute cette expérience au service de ce projet de ferme urbaine verticale.
            <br>
            C’est en faisant face aux nombreuses problématiques rencontrées dans le domaine du maraîchage biologique, que j’ai pris conscience des difficultés pour les commerçants et de la cuisine collective, d’avoir accès aux légumes et aromatiques de qualité, tout au long de l’année. Les problèmes de régularité d’approvisionnement, les fluctuations des prix du marché, leurs besoins en volumes à des périodes bien définies m’ont encouragé à développer ce projet, utilisant des techniques innovantes et créatives comme l’aquaponie et l'automatisation.
          </p>
        </div>
      </div>
    </div>
    <div class="card" data-aos="zoom-in">
      <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h5>
          <button class="button-membre btn btn-link collapsed text-decoration-none">
            <%= cl_image_tag("https://res.cloudinary.com/def2ukbdr/image/upload/v1618794898/farm-square/ronan_f99wmp.jpg") %>
            <span>Yvan Leblond, 44 ans</span><br>
            <i class="fas fa-caret-down"></i>
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse_card collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <p>
            Jardinier/Paysagiste depuis 22 ans.
            <br>
            Maraicher/Arboriculteur depuis 10 ans.
            <br>
            Le monde des plantes me passionne, et aux vues des enjeux de demain, je crois que l’hydroponie et l’aquaponie joueront bientôt un rôle majeur dans l’agro-alimentaire, ne serait-ce que pour l’économie en eau que l’hydroponie représente.
            <br>
            Mêler ces projets à des enjeux locaux, sociaux, environnementaux, humains, économiques pour qu’ils s’inscrivent dans le temps, c’est comme une graine qu’on plante dans une terre bien préparé.
            <br>
            J’ai rejoint l’équipe Farm Square fin 2020, nous travaillons sur des territoires différents (je suis dans le sud de la France) mais mettons nos savoirs faire en commun pour tenir compte des particularités de chaque projets aussi différents soient-ils.
          </p>
        </div>
      </div>
    </div>
    <div class="card" data-aos="zoom-in">
      <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <h5>
          <button class="button-membre btn btn-link collapsed text-decoration-none">
             <%= cl_image_tag("https://res.cloudinary.com/def2ukbdr/image/upload/v1617812113/random7_wewdrl.jpg") %>
            <span>Ronan Clouard, 42 ans</span><br>
            <i class="fas fa-caret-down"></i>
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse_card collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <p>
            Passionné par la permaculture, la formation, le management et les projets innovants je me suis joint à l’aventure dont je partage la vision. Je m’intéresse aux problématiques environnementales et sociales, et l’aquaponie va nous permettre de produire des légumes à très haute qualité nutritive tout en ayant une faible utilisation des énergies. L’agriculture urbaine n’est pas un problème, mais une réelle opportunité que nous devons ainsi transmettre aux futures générations.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container team-presentation mb-5 mt-5">
  <h4 class="py-4 text-center">
    <b>Nos bénévoles</b>
  </h4>
  <div class="row">
      <div class="membres col-lg-4 text-center">
        <%= cl_image_tag("https://res.cloudinary.com/def2ukbdr/image/upload/v1617812112/random3_ddbxqh.jpg", class:"rounded-circle", preserveAspectRatio:"xMidYMid slice", focusable:"false", role:"img") %>
        <p>Louise</p>
      </div>
      <div class="membres col-lg-4 text-center">
        <%= cl_image_tag("https://res.cloudinary.com/def2ukbdr/image/upload/v1617812113/random9_qwoerj.jpg", class:"rounded-circle", preserveAspectRatio:"xMidYMid slice", focusable:"false", role:"img") %>
        <p>Romain</p>
      </div>
      <div class="membres col-lg-4 text-center">
      <%= cl_image_tag("https://res.cloudinary.com/def2ukbdr/image/upload/v1617812112/random1_lzjeoy.jpg", class:"rounded-circle", preserveAspectRatio:"xMidYMid slice", focusable:"false", role:"img") %>
        <p>Léa</p>
      </div>
  </div>
</div>

<div class="container team-presentation mb-5 mt-5">
  <h4 class="py-4 text-center">
    <b>Développeurs de l'application</b>
  </h4>
  <div class="row">
      <div class="devs col-lg-6 text-center">
      <%= link_to "http://www.nabil-labrazi.com/", target: "_blank" do %>
      <%= cl_image_tag("https://res.cloudinary.com/def2ukbdr/image/upload/v1618795454/farm-square/50252768_lo6y7z.jpg", class:"rounded-circle", preserveAspectRatio:"xMidYMid slice", focusable:"false", role:"img") %>
        <p>Nabil</p>
      <% end %>
      </div>
      <div class="devs col-lg-6 text-center">
      <%= link_to "https://github.com/SimonMfroy", target: "_blank" do %>
      <%= cl_image_tag("https://res.cloudinary.com/def2ukbdr/image/upload/v1618795421/farm-square/60211721_g20lgc.jpg", class:"rounded-circle", preserveAspectRatio:"xMidYMid slice", focusable:"false", role:"img") %>
        <p>Simon</p>
      <% end %>
      </div>
  </div>
</div>
